<mat-card class="card">
    <mat-card-content class="card-content">
        <form class="form-content">
            <mat-form-field appearance="legacy">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email">
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password">
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>Ime</mat-label>
                <input matInput placeholder="Ime">
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>Prezime</mat-label>
                <input matInput placeholder="Prezime">
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>Adresa</mat-label>
                <input matInput placeholder="Adresa">
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>Lbo</mat-label>
                <input matInput placeholder="Lbo">
            </mat-form-field>

            <button mat-raised-button color="primary" type="ok" class="button">OK</button>
            <button mat-raised-button color="primary" type="backLogin" class="button">Nazad na prijavu</button>
        </form>
    </mat-card-content>
</mat-card>
